body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.top-section{
    padding: 0 0 60px 0px;
}
.banner {
    background-image: url(./image/top-banner.png);
    background-repeat: no-repeat;
    display: inline-flex;
}
.banner .part-left ,.banner-2 .part-left {
    width: 40%;
    margin-left: 5%;
}
.big-title span {
    color: #FFA500;
}
.big-title h1,.banner-2 .big-title h1  {
    font-size: 50px;
    font-weight: 600;
}
.content p,.banner-2 .content p {
    font-size: 19px;
    padding: 20px 0;
    text-align: justify;
}

.content h3 ,.banner-2 .content h3 {
    font-size: 23px;
}
.content {
    margin-top: 100px;
}
.content a {
    padding: 10px 40px;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    background: #d6796e;
    color: #fff;
}
.content a:hover{
    background: #FA6957;
}
.banner .part-right img {
    width: 100%;
}
.banner .part-right, .banner-2 .part-right {
    width: 40%;
    margin-left: 5%;
    margin-top: 35px;
}

.drama-section{
   padding: 50px 0;
}
.banner-2{
    background-image: url(./image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.banner-2 .part-left img {
    width: 100%;
}

.banner-2 {
    display: inline-flex;
}
/*exprience*/
.skill-left {
    width: 40%;
    box-shadow: 3px 7px 30px 1px #ccc;
    padding: 20px;
    margin-left: 5%;
    border-left: 5px solid #FF8967;
}

.skill-right {
    width: 40%;
    box-shadow: 3px 7px 30px 1px #ccc;
    padding: 20px;
    margin-left: 5%;
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan)1 / 1 / 0 stretch;
}

.expri-skill {
    display: inline-flex;
    text-align: center;
    background-image: url(./image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

section.expreance {
    padding: 50px 0px;
}
section.expreance h1 {
    font-size: 40px;
}

.skill-left p, .skill-right p{
    padding: 30px;
    text-align: justify;
    font-size: 19px;
    padding-top: 0;
}

.skill-left h1, .skill-right h1{
    font-size: 40px;
}

.skill-left h3, .skill-right h3{
    text-align: start;
    margin-left: 30px;
    color: #FFAC00;
    font-size: 25px;
}
footer {
    padding: 38px 0;
}

.copy-right p {
    text-align: center;
}